body{
	margin-left: 78px;
}

.heading{
	width: 95%;
	text-align: center;
	font-family: helvetica;
	font-size: 28px;
	font-weight: bold;
	padding-top: 35px;
	border-bottom: solid 1px lightgray;
	align-content: center;
	color: orange;
    font-weight: 600px;
    padding-bottom: 12px;
}

.container{
	display: flex;
	font-size: 20px;
	margin-top: 12px;
	width: 95%
}

.left{
	width:50%;
}

.left > img{
	width: 98%;
	height: 600px;
	border: 1px solid black;
}

.right{
	padding-top: 113px;
	width: 50%
}

.image>img{
	width: 98%;
	height: 600px;
	border: 1px solid black;
}

.detail{
	padding-top: 113px;
	padding-left: 2px;
	width: 50%;
}
