body{
	margin-left: 78px;
}

.heading{
	height: 87px;
	width: 800px;
	border-bottom: solid 1px black;
}

#title{
	width: 800px;
	text-align: center;
	font-family: helvetica;
	font-size: 28px;
	font-weight: bold;
	padding-top: 20px;
	border-bottom: solid 1px lightgray;
	padding-bottom: 5px;
}

#subtitle{
	padding-top: 5px;
    text-align: right;
    width: 650px;
    color: orange;
    font-weight: 600px;
}

.left{
	padding-top: 10px;
	width: 603px;
	height: 300px;
}

.left > img{
	width: 600px;
	height: 343px;	
	border: solid 1px black;
}

#jar > img{
	width: 50px;
	height: 50px;
}

.container{
	display: flex;
	margin-top: 12px;
}

.right{
	padding-top: 98px;
}
